@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(180deg, rgb(200,225, 255), white); */
  overflow:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hovered:hover{
  font-weight: bold;
  transform: scale(1.1);
  transition: 0.3s;
}

.fade-in {
  animation: fadeIn 0.3s ease-in forwards;
  opacity: 0;
}

.fade-out {
  animation: fadeOut 0.3s ease-out;
  opacity: 0;
}   

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.page-title { 
  font-size: 32px;
  font-family: Arial;
}

.page-sub-title { 
  font-size: 24px;
  font-family: Arial;
}

.darkMode-bg {
  background-color: rgb(25,25,25);
}

.lightMode-bg {
  background-color: white;
}

.darkMode-text {
  color: rgb(200,200,200)
}

.lightMode-text {
  color: gray
}

.darkMode-border {
  border: 1px solid rgb(50,50,50);
}

.lightMode-border {
  border: 1px solid rgb(235,235,235);
}

.darkMode-button {
  display: flex;
  color: rgb(200,200,200);
  cursor: pointer; 
  font-size: 14px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.darkMode-button:hover {
  background-color: rgb(50,50,50);
}

.lightMode-button {
  display: flex;
  color: gray;
  cursor: pointer; 
  font-size: 14px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.lightMode-button:hover {
  background-color: rgb(235,235,235);
}